{% extends 'generic/object_edit.html' %} {% load static %} {% load form_helpers %} {% block form %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>UC Cluster</strong></div>
    <div class="panel-body">
        {% render_field form.uccluster %}
        {% render_field form.tenant %}
        {% render_field form.description %}
        {% render_field form.publisher %}
        {% render_field form.subscriber1 %}
        {% render_field form.subscriber2 %}
        {% render_field form.subscriber3 %}
        {% render_field form.subscriber4 %}
        {% render_field form.tftp1 %}
        {% render_field form.tftp2 %}
        {% render_field form.tags %}
    </div>
</div>

{% endblock %}