{% extends 'base.html' %} {% load buttons %} {% block content %}
<div class="pull-right noprint">
    {% if perms.ucbox_plugin.add_trunk %} {% add_button 'plugins:ucbox_plugin:add_trunk' %} {% endif %} {% if permissions.add and 'import' in action_buttons %} {% import_button 'plugins:ucbox_plugin:import_trunks' %} {% endif %}
</div>
<h1>{% block title %}Trunks{% endblock %}</h1>
<div class="row">
    <div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_delete_url="plugins:ucbox_plugin:trunk_bulk_delete" bulk_edit_url="plugins:ucbox_plugin:trunk_bulk_edit" %}
    </div>
    <div class="col-md-3 noprint">
        {% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}